.btn {
    text-align: center;
    display: block;
    padding: 10px;
    font-size: 1.7rem;

    color: @white;
    background-color: @accent;
    border: 2px solid @white;
    border-radius: 25px;

    text-transform: uppercase;
    transition: all 0.5s;

    &:hover {
        color: @white;
        background-color: lighten(@accent, 10%);
    }
}

.contacts__btn {
    max-width: 250px;
    margin: 0 auto;
}