.hero-section {
    background: url(../img/hero-bg.jpg) no-repeat center/cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero {
    .lg-block({
        background-color: rgba(0, 0, 0, 0.35);
    });
}

.hero__wrapper--main {
    .row-flex();
    // align-items: center;
}

.hero__wrapper--slider {
    .col();
    .size(5);
    .size-lg(12);
    position: relative;
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    height: 100%;
    margin-left: -10px;
    .lg-block({
        margin: 0 auto;
        background: none;
    });
}

.hero__item {
    color: @white;

    .hero__text {
        // margin: 0 5px;
        padding: 5px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
}
.hero__img {
    .col();
    .size(7);
    .size-lg(12);

    display: flex;
    align-items: center;
    justify-content: center;
    .lg(order, -1);
    
    img {
        width: 530px;
        .sm(width, 100%);
        height: auto;
    }
}

.advantage {
    background-color: rgba(0, 0, 0, 0.35);
    .lg(display, none);
}

.advantage__wrapper {
    .row-flex();
    justify-content: space-between;
}

.advantage__item {
    .col();
    .size(2.4);

    padding: 15px 10px;
    // min-height: 250px;
    font-size: 16px;
    font-family: 'calibribold', sans-serif;
    color: @white;
    text-align: center;

    img {
        width: 65px;
        height: 65px;
        // margin-bottom: 3px;
    }
}

@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
              transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }