.product {
    padding: 10px 0;
    color: @textcolor;
    background: url(../img/product-bg.jpg) no-repeat center/cover;
}

.product__content {
    max-width: 1280px;
    margin: 0 auto;

        h2 {
            // color: @accent;
            // font-weight: bold;
            // font-size: 36px;
            margin-top: 20px;
            margin-bottom: 34px;
        }

        p {
            margin: 10px 0;
        }

}

.product__title {
    color: @textcolor;
    // font-weight: bold;
    // margin: 16px 0 8px;
    margin-bottom: 8px;
}

.product__text {
    position: relative;
}

.product__slider {
    height: 485px;
    background: #fff;
}

.product__menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	color: white;
	background: green;
}

.product__btn {
	position: absolute;
	right: 0;
	top: 350px;
	z-index: 20;
}